<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.imagehotspot"
        version="1.0">

  <name>CordovaImageHotspotPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaImageHotspotPlugin">
        <param name="android-package" value="com.ashera.imagehotspot.CordovaImageHotspotPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="src/com/ashera/imagehotspot/CordovaImageHotspotPlugin.java" target-dir="src/com/ashera/imagehotspot"/>
     <source-file src="src/com/ashera/imagehotspot/HotspotEventCommand.java" target-dir="src/com/ashera/imagehotspot"/>
     <source-file src="src/com/ashera/imagehotspot/ImageHotspotPlugin.java" target-dir="src/com/ashera/imagehotspot"/>
     <source-file src="src/com/ashera/imagehotspot/ImageHotspotViewImpl.java" target-dir="src/com/ashera/imagehotspot"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/android/widget/ImageHotspotViewImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>